:root {
    --yellow: #FCD354;
    --yellowLight:#EAF27C;
    --pink:#FE98B9;
    --pinkLight:#FFC1D5;
    --pinkLight-presentation:#FFC1D5;
    --black:black;
    --white:white;
  }
.dark-theme{
    --pink:black;
    --black:white;
    --pinkLight-presentation:black;
    --white: rgb(255, 193, 213 ,0.5);
}

@font-face{
    font-family: myFont;
    src:url(game.ttf);
}
@font-face{
    font-family: font;
    src:url(Gameplay.ttf);
}

html {
    box-sizing: border-box;
  }
body {
    background-color: var(--pink);
    color: white;
    margin: 0;
    transition: all 0.3s ease-in-out;

}

img {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  } 

a:hover{
    color: #fff;
}
/*head
-----------------------------------------------------------------------------------------*/
#icon{
    cursor: pointer;
}
.head a:hover{
    color: white;
}

.castle:hover{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(73deg) brightness(114%) contrast(101%);;
}

.castle{
    height: 40px;
    margin-right: 5px;
    margin-left: 10px;
    float: right;
    margin-top: 2px;
}
.castl{
    height: 60px;
}
/* Profile
------------------------------------*/  
.head{
    margin: 0px;
    height: 58px;
    width: 100%;
    background-color: var(--yellowLight);
    font-size: 23px;
    position: fixed;
    z-index:100;

}

.h{
    padding-right: 10px;
    font-weight: bolder;
    display: inline-block;

}
#h5{
    padding-top: 14px;
}

#h4{
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 5px;
    float: left;

}

#h6{
    float: right;
    padding-top: 5px;

}
/* presentation
------------------------------------*/ 
.presentation {
    background: var(--pinkLight-presentation);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--black);
    font-size: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns:  repeat(17, 1fr);
    height: 300px;
    padding-top: 70px;
    letter-spacing: 0.32px;
    line-height: 300%;
}
.presentation h1{
    padding-right:0px;
    grid-row: 1;
    grid-column: 5/13;
    margin-bottom: 0px;
    font-family: myFont;
    padding-top: 30px;

}

#sa{
    width: 404px;
    grid-row: 1;
    grid-column: 13/12;
}
.down{
    padding-top: 50px;
    grid-column: 16;
}

#up,#down{
    width: 54px;
    height: 50px;
    float: right;
}

.mark{
    float: right;
    height: 100px;
}
/* education
------------------------------------*/ 
.education,.Languages,.Certification{
    border-radius: 10px;
    background: var(--white);
    margin:40px 100px ;
}
.circle{
        border-radius: 70%;
}
#usto{
    width: 75px;
    height:75px;
    padding: 10px;
    filter: none;
}

.education-summary{
    padding: 10px;
}

.line{
    height: 150px;
    filter:none;
    padding-top: 30px;
}
.line2{
    height: 150px;
    filter:none;
    padding-top: 30px;
}
.item{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    column-gap: 5px;
}
.education-detail{
    text-align: center;
    padding-top: 85px;
    grid-column: 1/6;
    font-family: myFont;
    font-weight: bold;
}

.usto{
    grid-column: 7/9;
}
.education-summary{
    grid-column: 9/16;
}

.education-summary p{
    grid-column: 10/16;
}
/* languages
------------------------------------*/ 
.Languages{
    border-radius: 10px;
    flex-direction: row;
    padding-bottom: 20px;
    font-family: myFont;
}
.heart{
    height: 50px;
}
.level4,.level2,.level1,.level3{
    grid-column: 7/16;
    padding-top: 20px;
}

.education-detail-langue{
    padding-top: 20px;
    text-align: center;
    grid-column: 1/6;
}
/* certification
------------------------------------*/ 
.Certification{
    padding-bottom: 40px;
}

.certification-detail{
    padding-top: 0;
    grid-column: 1/6;
    text-align: center;
    font-family: myFont;
    font-weight: bold;
}
.Certification-summary{
    grid-column: 7/16;
    margin: 0;
}

.img-linkedIn{
    width: 75px;
    height:75px;
    padding: 10px;


}

.item{
    padding: 10px;

}


a{
    color: #000;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

div{
    color: var(--black);
}
.heading{
    padding: 10px;
    font-size: 26px;
    background: var(--pinkLight);
    border-radius: 10px 10px 0px 0px;
    font-family: myFont;
    padding-left: 30px;
    color: #000;
}


/* SKILLS
_______________________________________________________*/
.skills{

    column-gap: 5px;
    margin: 30px;
    margin-bottom: 100px;
}

.b1{
    flex-direction: row;
    overflow: hidden;
}
.img-skill{
    position: relative;
    height: 100px;
    flex-direction: row;
    align-items: center;
}
.img-skill:hover{
    height: 120px;
}

.i1{
    position: relative;
    height: 100px;
    align-items: center;
}
.i1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .i1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  .i1:hover .tooltiptext {
    visibility: visible;
  }


.heading1{
    background-color:var(--yellow);
    border-radius: 10px;
    color: #000;
    padding: 10px;
    grid-column: 3;
    height: 30px;
    text-align: center;
    box-shadow: 0 24px 32px hsla(0, 0, 0, 0.5);
    font-family: myFont;

}

.i1{
    display: inline-flex;
    align-items: center;
    padding: 20px;
}
.b1{
    align-items: center;
    padding: 80px;
    text-align: center
}

/* interest
_______________________________________________________*/
.interest{

    column-gap: 5px;
    margin: 30px;
    margin-bottom: 100px;

}


/* icon contact me!
_______________________________________________________*/

.mark{
    float: left;
    display: block;
}
.icon{
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom:-60px;
}

.contactme {
    grid-row: 1;
    grid-column: 1;
    padding-top: 150px;
    margin: 0;
    font-family: myFont;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.pic2{
    width: 504px;
    grid-row: 1;
}
.up{
    float: right;
    grid-column: 15;
    padding-top: 350px;

}

.contactme:hover{
    font-size: 70px;
}

/* FOOTER
_______________________________________________________*/


.foot{
    background: var(--pinkLight);
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    padding: 30px 30px;
}
.foot a{
    font-size: 20px;
    line-height: 10px;
}
.pic{
    height: 40px;
}

.contact-list{
    grid-column: 1;
    list-style-type: none;
    padding-right: 10;
    font-family: myFont;
    padding-top: 20px;
    
}

.contact-list2{
    grid-column: 2;
    grid-row: 1;
    list-style-type: none;
    font-family: myFont;
    line-height: 22px;
    padding-top: 20px;

}
.contact-list a{
    margin-top: 80px;
    line-height: 60px;
    font-size: 17px;
    padding-left: 10;
}
.contact-list2 a{
    line-height: 60px;
}



.copyright-text{
    text-align: center;  
    font-family: myFont;
    margin: 20px;
    font-size: smaller;
}

@media screen and (min-width:914px) and (min-height:412px) {
    
    .presentation h1{
        grid-column: 2/18;
        margin-bottom: 0px;
    }

    #sa{
        grid-row: 1;
        grid-column: 17;
    }

    .down{
        grid-column: 18;
    }
    .pic2{
        grid-column: 14;
    }
    .contactme {
        grid-row: 1;
        grid-column: 1;
        padding-top: 150px;
        margin: 0;
    }
    .contact-list{
        padding-left: 0px;
    }
    
    .contact-list2{

        padding-left: 10;
    }
    
}

/*affect my pc*/
@media screen and (min-width:500px)  {

    .contactme {

        grid-column: 3/12;
    }
    .presentation h1{

        grid-column: 5/18;
    }
        .education-detail{
        font-size: small;
    }

}

@media screen and (min-width:412px)and (min-height:914px) {
    .contact-list a{
        padding: 0;
        font-size: 8px;
    }
    .contact-list2 a{
        padding: 0;
        font-size: 8px;
    }
    .contact-list2{
        padding-right: 10px;
    }
    .education-detail p{
        font-size: 5px;
    }
    .education-summary h2{
        display: none;
    }
    .education-summary li{
        font-size: x-small;
    } 
    .certification-detail{
        font-size: x-small;
    }
    .education-detail-langue h1{
        font-size: x-small;
    }
    .Certification-summary h1{
        font-size: x-small;
    }
    .presentation h1{
        font-size: 32px;
    }
    .contactme{
        grid-column: 1;
    }
    .up{
        padding-right: 20px;
    }
    .contactme{
        font-size: 20px;
    }
    .contactme:hover{
        font-size: 45px;
    }
    .pic2{
        height: 190;
    }
    .but{
        display: none;
    }

}

@media screen and (min-width:360px) and(min-height:740)  {

    .contactme {
        font-size: 15;
    }
    .contactme:hover{
        font-size: 15px;
    }

    .contact-list a,.contact-list2 a{
        font-size: 40px;
    }
    .but{
        display: none;
    }
    
}


/* certification     certificat.html
----------------------------------------------*/
.certificat-images{ /*container*/
    text-align: center;
    padding: 10px;
    padding-top: 50px;
} 

.diplome{ /*image of my diplome*/
    height: 300px;
    margin: 40px;
}
.diplome:hover{
    height: 320px;
}
.but{
    height: 120px;
    margin-right: 100px;
}
.but:hover{
    height: 130px;
    grid-column: 17;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    color: var(--black);
    font-size: 21px;
    padding: 20px;
    text-align: center;   
    height: 100px;
    padding-top: 90px;
    letter-spacing: 0.32px;
    line-height: 300%;
    font-family: myFont;
    margin-left: 10px;
    font-weight:bold;
}

.upp{
    margin-top: 100px;
}
.contact-list22{
    background-color: var(--pinkLight);
    display: flex;
    text-align: center;
    padding-left: 40%;
}
.contact-list22 a{
 padding: 20px 10px;

}
#up{
    float: right;
    margin-top: -140px;
}
/*contactMe.html
--------------------------------------
--------------------------------------*/
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contactImg{
    grid-template-columns: 1;
    height: 600px;
    margin: 10%;
}

.forum{
    background-color: rgb(255, 193, 213 ,0.5) ;
    border-radius: 10px;
    grid-template-columns: 2;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 20px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    font-family: myFont;
    margin-bottom: 70px;
}

.forum{
    padding: 30px 30px;
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
}
.input+.input {
    margin-top: 1.5rem;
}
.input-label {
	color: white;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.in{
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: var(--yellow);
		&+.input-label {
			color: var(--yellow);
			transform: translateY(-1.5rem);
		}
	}
}

.in:focus, .in:valid {
    outline: 0;
    border-bottom-color: var(--yellow);
    &+.input-label {
        color: var(--yellow);
        transform: translateY(-1.8rem);
    }
}

.input-label-text-area{
    margin-bottom: 1pc;
    color: white;
}
.in-text-area{
    border-radius: 10px;
    border:2px solid white;
    padding: 5px 5px;
    background-color: transparent;
    &:focus{
        outline-color: var(--yellow);
        background-color: #f4dfa1;
        &+.input-label-text-area{
            color: var(--yellow);
        }
    }
}

.btn {
	margin-top: 2rem;
}

.btn-action {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: var(--yellow);
	border-radius: 6px;
	color: #FFF;
    cursor: grab;
    border: none;
    box-shadow: 0 10px #666;

}
.btn-action:focus {
    color: #000;
}
.btn-action:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  /*success.html
  ---------------------------------------------------------*/
.f{
    filter:none;
}
  .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #4CAF50;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFADC7;
            filter:none;

            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #4CAF50;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(76, 175, 80, .5);

        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFADC7;
            filter:none;
        }
    }
}

.popup {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
.popup .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .popup .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .popup:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}